[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "plugged/vim-airline"]
	path = plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "plugged/vim-airline-themes"]
	path = plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "plugged/nvim-lspconfig"]
	path = plugged/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "plugged/nerdtree"]
	path = plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugged/nerdtree-git-plugin"]
	path = plugged/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "plugged/coc.nvim"]
	path = plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "plugged/cmp-nvim-lsp"]
	path = plugged/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "plugged/cmp-buffer"]
	path = plugged/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule "plugged/cmp-path"]
	path = plugged/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "plugged/cmp-cmdline"]
	path = plugged/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline.git
[submodule "plugged/nvim-cmp"]
	path = plugged/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "plugged/cmp-vsnip"]
	path = plugged/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip.git
[submodule "plugged/vim-vsnip"]
	path = plugged/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "plugged/friendly-snippets"]
	path = plugged/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
[submodule "plugged/lspkind-nvim"]
	path = plugged/lspkind-nvim
	url = https://github.com/onsails/lspkind-nvim.git
[submodule "plugged/gitsigns.nvim"]
	path = plugged/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "plugged/gv.vim"]
	path = plugged/gv.vim
	url = https://github.com/junegunn/gv.vim.git
[submodule "plugged/vim-fugitive"]
	path = plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugged/tokyonight.nvim"]
	path = plugged/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim.git
[submodule "plugged/vimspector"]
	path = plugged/vimspector
	url = https://github.com/puremourning/vimspector.git
[submodule "plugged/rust.vim"]
	path = plugged/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "plugged/telescope.nvim"]
	path = plugged/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "plugged/plenary.nvim"]
	path = plugged/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "plugged/nvim-treesitter"]
	path = plugged/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
