[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "plugged/vim-airline"]
	path = plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "plugged/vim-airline-themes"]
	path = plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
